Repository giantswarm/prometheus-rules, changes with the owners that CODEOWNERS names for each.
All owners: @giantswarm/team-atlas, @giantswarm/team-bigmac, @giantswarm/team-phoenix, @giantswarm/team-rocket, @giantswarm/team-turtles, @giantswarm/team-cabbage, @giantswarm/team-honeybadger, @giantswarm/team-shield

Sort out shared alerts ownership
  CHANGELOG.md
  Makefile.custom.mk
  helm/prometheus-rules/templates/kaas/phoenix/alerting-rules/dns-operator-azure.rules.yml
  helm/prometheus-rules/templates/kaas/turtles/alerting-rules/certificate.all.rules.yml
  helm/prometheus-rules/templates/kaas/turtles/alerting-rules/certificate.management-cluster.rules.yml
  helm/prometheus-rules/templates/kaas/turtles/alerting-rules/certificate.workload-cluster.rules.yml
  helm/prometheus-rules/templates/kaas/turtles/alerting-rules/management-cluster.rules.yml
  helm/prometheus-rules/templates/kaas/turtles/recording-rules/kubernetes-mixins.rules.yml
  helm/prometheus-rules/templates/platform/atlas/alerting-rules/deployment.management-cluster.rules.yml
  helm/prometheus-rules/templates/platform/atlas/alerting-rules/deployment.workload-cluster.rules.yml
  helm/prometheus-rules/templates/platform/atlas/alerting-rules/operatorkit.rules.yml
  helm/prometheus-rules/templates/platform/atlas/recording-rules/grafana-cloud.rules.yml
  helm/prometheus-rules/templates/platform/atlas/recording-rules/service-level.rules.yml
  helm/prometheus-rules/templates/shared/alerting-rules/microendpoint.rules.yml
  scripts/sync-kube-mixin.sh
  test/conf/promtool_ignore
  test/hack/bin/template-chart.sh
Owners: @giantswarm/team-atlas, @giantswarm/team-phoenix, @giantswarm/team-turtles

Sort out shared alerts ownership (#1232)
  CHANGELOG.md
  Makefile.custom.mk
  helm/prometheus-rules/templates/kaas/phoenix/alerting-rules/dns-operator-azure.rules.yml
  helm/prometheus-rules/templates/kaas/turtles/alerting-rules/certificate.all.rules.yml
  helm/prometheus-rules/templates/kaas/turtles/alerting-rules/certificate.management-cluster.rules.yml
  helm/prometheus-rules/templates/kaas/turtles/alerting-rules/certificate.workload-cluster.rules.yml
  helm/prometheus-rules/templates/kaas/turtles/alerting-rules/management-cluster.rules.yml
  helm/prometheus-rules/templates/kaas/turtles/recording-rules/kubernetes-mixins.rules.yml
  helm/prometheus-rules/templates/platform/atlas/alerting-rules/deployment.management-cluster.rules.yml
  helm/prometheus-rules/templates/platform/atlas/alerting-rules/deployment.workload-cluster.rules.yml
  helm/prometheus-rules/templates/platform/atlas/alerting-rules/operatorkit.rules.yml
  helm/prometheus-rules/templates/platform/atlas/recording-rules/grafana-cloud.rules.yml
  helm/prometheus-rules/templates/platform/atlas/recording-rules/service-level.rules.yml
  helm/prometheus-rules/templates/shared/alerting-rules/microendpoint.rules.yml
  scripts/sync-kube-mixin.sh
  test/conf/promtool_ignore
  test/hack/bin/template-chart.sh
Owners: @giantswarm/team-atlas, @giantswarm/team-phoenix, @giantswarm/team-turtles

bigmac label update
  helm/prometheus-rules/templates/kaas/bigmac/alerting-rules/cert-manager.rules.yml
  helm/prometheus-rules/templates/kaas/bigmac/alerting-rules/dex.rules.yml
  helm/prometheus-rules/templates/kaas/bigmac/alerting-rules/teleport.rules.yml
  test/tests/providers/capi/capz/kaas/bigmac/alerting-rules/cert-manager.rules.test.yml
  test/tests/providers/vintage/aws/kaas/bigmac/alerting-rules/cert-manager.rules.test.yml
Owners: @giantswarm/team-bigmac, @giantswarm/team-atlas

Update queries
  helm/prometheus-rules/templates/platform/atlas/alerting-rules/mimir-to-grafana-cloud-exporter.rules.yml
  test/tests/providers/capi/capa-mimir/platform/atlas/alerting-rules/mimir-to-grafana-cloud-exporter.rules.test.yml
Owners: @giantswarm/team-atlas

pipeline label
  helm/prometheus-rules/templates/kaas/bigmac/alerting-rules/teleport.rules.yml
Owners: @giantswarm/team-bigmac

CHANGELOG
  CHANGELOG.md
Owners: none

bigmac label update (#1233)
  CHANGELOG.md
  helm/prometheus-rules/templates/kaas/bigmac/alerting-rules/cert-manager.rules.yml
  helm/prometheus-rules/templates/kaas/bigmac/alerting-rules/dex.rules.yml
  helm/prometheus-rules/templates/kaas/bigmac/alerting-rules/teleport.rules.yml
  test/tests/providers/capi/capz/kaas/bigmac/alerting-rules/cert-manager.rules.test.yml
  test/tests/providers/vintage/aws/kaas/bigmac/alerting-rules/cert-manager.rules.test.yml
Owners: @giantswarm/team-bigmac, @giantswarm/team-atlas

fix UT
  test/tests/providers/capi/capa-mimir/platform/atlas/alerting-rules/mimir-to-grafana-cloud-exporter.rules.test.yml
Owners: @giantswarm/team-atlas

fix UT job
  helm/prometheus-rules/templates/platform/atlas/alerting-rules/mimir.rules.yml
  test/tests/providers/capi/capa-mimir/platform/atlas/alerting-rules/mimir.rules.test.yml
Owners: @giantswarm/team-atlas

Restrict grafana-agent-rules CNP
  CHANGELOG.md
  helm/prometheus-rules/templates/grafana-agent-rules-configmap.yaml
Owners: @giantswarm/team-atlas

Bump grafana-agent-app version
  helm/prometheus-rules/templates/grafana-agent-rules.yaml
Owners: @giantswarm/team-atlas

fix-honeybadger area labels (#1216)
  CHANGELOG.md
  helm/prometheus-rules/templates/kaas/turtles/alerting-rules/release.rules.yml
  helm/prometheus-rules/templates/platform/honeybadger/alerting-rules/app.rules.yml
  helm/prometheus-rules/templates/platform/honeybadger/alerting-rules/chart.rules.yml
  helm/prometheus-rules/templates/platform/honeybadger/alerting-rules/crossplane.rules.yml
  helm/prometheus-rules/templates/platform/honeybadger/alerting-rules/crsync.rules.yml
  helm/prometheus-rules/templates/platform/honeybadger/alerting-rules/external-secrets.rules.yml
  helm/prometheus-rules/templates/platform/honeybadger/alerting-rules/flux.rules.yml
  helm/prometheus-rules/templates/platform/honeybadger/alerting-rules/helm.rules.yml
  helm/prometheus-rules/templates/platform/honeybadger/alerting-rules/secret.rules.yml
  test/tests/providers/global/platform/honeybadger/alerting-rules/app.rules.test.yml
  test/tests/providers/global/platform/honeybadger/alerting-rules/crossplane.rules.test.yml
  test/tests/providers/global/platform/honeybadger/alerting-rules/crsync.rules.test.yml
  test/tests/providers/global/platform/honeybadger/alerting-rules/external-secrets.rules.test.yml
  test/tests/providers/global/platform/honeybadger/alerting-rules/flux.rules.test.yml
Owners: @giantswarm/team-turtles, @giantswarm/team-honeybadger, @giantswarm/team-atlas

CODEOWNERS:

* @giantswarm/team-atlas
/helm/prometheus-rules/templates/kaas/bigmac/ @giantswarm/team-bigmac
/helm/prometheus-rules/templates/kaas/phoenix/ @giantswarm/team-phoenix
/helm/prometheus-rules/templates/kaas/rocket/ @giantswarm/team-rocket
/helm/prometheus-rules/templates/kaas/turtles/ @giantswarm/team-turtles
/helm/prometheus-rules/templates/platform/atlas/ @giantswarm/team-atlas
/helm/prometheus-rules/templates/platform/cabbage/ @giantswarm/team-cabbage
/helm/prometheus-rules/templates/platform/honeybadger/ @giantswarm/team-honeybadger
/helm/prometheus-rules/templates/platform/shield/ @giantswarm/team-shield

# No owners for changelog
/CHANGELOG.md
